:root {
  --primary-color-lighter:  #dff1e7;
  --primary-color-medium: #0c7d69;
  --primary-color-red: #d73c3c;

  --neutral-color-white: #ffffff;
  --neutral-color-grey-500:  #87a3a6;
  --neutral-color-grey-900: #2b4246;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
  outline: none;
  font-family: "Karla", sans-serif;
}
body, html {
  height: 100%;
}
main {
  height: 100%;
  padding: 20px 0;
  background-color: var(--primary-color-lighter);
}

.flex {
  display: flex;
}

.direction {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2%;
}

.container {
  width: 100%;
  height: 90%;
  max-width: 540px;
  padding: 20px 1%;
  background-color: var(--neutral-color-white);
  border-radius: 15px;
  box-sizing: border-box;
}

.w100 {
  width: 100%;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

form {
  margin-top: 30px;
}

.container-input {
  margin: 20px 0;
}

.text {
  width: 100%;
  color: var(--neutral-color-grey-900);
  margin: 8px 0;
  font-size: 15px;
}
.input {
  width: calc(100% - 10px);
  padding: 10px 25px;
  border: 1px solid var(--neutral-color-grey-500);
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0;
}

.input:hover {
  border: 1px solid var(--primary-color-medium);
  
}

label:nth-child(1) .input, .input_radio {
  width: calc(100% - 10px);
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
input[type="checkbox"],input[type="radio"]{
  appearance: none;
  -webkit-appearance: none;
  width: 16px; 
  height: 16px;
  border: 1px solid #ccc; 
}

input[type="radio"]:checked {
  border: 1px solid var(--primary-color-medium); 
  border-radius: 50%;
  background-color: var(--primary-color-medium); 
}

input[type="checkbox"]:checked::before {
  content: 'x';
  display: flex;
  justify-content: center;
  align-items: center;
  color: none;
  width: 14px;
  height: 14px;
  color: var(--neutral-color-white);
  background-color: var(--primary-color-medium);  
}

input[type="radio"]{
border-radius: 50%;
}
#mes {
  height: 120px;
  resize: none;
}

.input_check {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.input_radio{
  margin-right: 15px;
  cursor: pointer;
}

.button, .input_submit {
  padding: 10px 25px;
  color: var(--neutral-color-white);
  background-color: var(--primary-color-medium);
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 414px) {
  .container {
    height: auto; 
  }
  
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  .container-input {
    margin: 16px 0;
  }
}